<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/style/style.css">
    <title>Groove Station</title>
    <div class="container">
        <h1>Welcome to your Groove Station!</h1>
    </div>
</head>
<body>
    <div>
        <h3><%= body.display_name %></h3>
    </div>
    <div class='profileDetails'>
        <h5>Profile: <%= body.email %></h5>
    </div>    
</body>
</html>


