<div class="container">
    <h1 class="text-center">Groove Station</h1>
    <p class="text-center">
        <a href="/profile">Profile</a>
    </p>
    <a href="/login">Login</a>
    <a href="/register">Register</a>    
</div>