<head>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
</head>
<body class="jukebox">
    <div class="container">
        <h1 class="ml15">
            <span class="word">Groove</span>
            <span class="word">Station</span>
        </h1>
    </div>
    <div class="link">
        <a href="/login" class="link">Login</a>
    </div>
    <div class="description">
        <p>Welcome to Groove Station, <br>
            where you can choose your favorite tunes <br>
            and add them to playlists. <br>
            All you have to do is sign in, <br>
            search for your song and add it to your favorites!</p>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="js/index.js"></script>
</body>