<div class="container">
    <h1 class="text-center">Groove Station</h1>
    <p class="text-center">
        <a href="/profile">Profile</a>
    </p>
    <a href="/login">Login</a>
    <a href="/register">Register</a>    
</div>
<div class="description">
    <h1>Welcome to Groove Station, where you can choose your favorite tunes and add them to playlists. <br> 
    all you have to do is sign in, search for your song and add it to your favorites!</h1>
</div>