.container {
    color: rgb(190, 54, 179);
    font-family: 'Luckiest Guy', cursive;
    text-shadow: 0px 1px white;
    font-weight: bold;
}
.container2 {
    color: rgb(190, 54, 179);
    font-family: 'Luckiest Guy', cursive;
    text-shadow: 0px 1px white;
    font-weight: bold;
    font-size: 40px;
}
.container3 {
    color: rgb(190, 54, 179);
    font-family: 'Luckiest Guy', cursive;
    text-shadow: 0px 1px white;
    font-weight: bold;
    font-size: 60px;
    margin: 0 auto;
}
.description {
    color: rgb(185, 30, 185);
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    margin-top: 90px;
    font-weight: bolder;
}
.jukebox {
    background-image: url('/img/IMG_white-21088.jpeg');
}
body {
    background: black;
    text-align: center;
    color: white;
}

/* .text-center {
    font-family: 'Luckiest Guy', cursive;
    font-size: 90px;
    text-shadow: 0px 1px white;
} */

.profileDetails {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
}
.link {
    font-family: 'Bangers', cursive;
    color: hsl(295, 29%, 52%);
}
.ml15 {
    font-weight: 800;
    font-size: 3.5em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-family: 'Luckiest Guy', cursive;
    font-size: 90px;
    font-weight: lighter;
    text-shadow: 0px 1px white;
}

.ml15 .word {
    display: inline-block;
    line-height: 1em;
}
a {
    font-size: 40px;
}
a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
.navBar {
    font-family: 'Bangers', cursive;
    color: hsl(295, 29%, 52%);
    font-size: 20px;
}
.playlistDescription {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}
.tracks {
        color: #ffffff;
        font-family: 'Raleway', sans-serif;
}
.profile {
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
}
.dash {
    font-size: 40px;
}

/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
  }
  
  /* Main content */
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  .active {
    background-color: green;
    color: white;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  .results {
    width: 30vw;
    display: inline-block;
    color: white;
    height: 20vh;
  }