<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite Grooves</title>
</head>
<body>
    <h1>Home of your favorites tunes - <br>
    feel free to adjust your vibe at any time by adding <br>
    or deleting and songs from your playlist</h1>
    <form method="POST" action="/create"></form>
</body>
</html>